.App {
    text-align: center;
    margin: 0px;
    padding: 0px;
    max-height: 300px;
 }
.links {
    display: block;
    margin: 0 auto;
    background-color: tomato;
    border: 1px solid black;
    text-decoration: none;
    font-size: 25px;
    max-width: 50vh;
    color: white;
}
.links:link {color:#ff0000;}
.links:visited {color: #050505;}
.links:hover {background:#66ff66;}