
.App {
    text-align: center;
    padding: 0vh 50vh;
 }

.cat-wrapper {
    background-color: whitesmoke;
}

.cat-image img {
    margin: 1vh;
    border: 2px solid darkgray;
}

.links {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
